@model MMDB.DataService.Data.Dto.Jobs.JobDefinition

@{
    ViewBag.Title = "Configure";
}

<h2>Configure</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
	
	@Html.EditorFor(model=>model)

        <p>
            <input type="submit" value="Save" />
        </p>
}

