<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Quartz" version="2.1.2" targetFramework="net40" />
  <package id="RavenDB.Client" version="2.5.2750" targetFramework="net40" />
</packages>